/*@keyframes change-text {
  0% {
    content: 'സ്വാഗതം';
  }
  5% {
    content: 'स्वागत';
  }
  10% {
    content: 'வரவேற்பு';
  }
  15% {
    content: 'ಸ್ವಾಗತ';
  }
  20% {
    content: 'BIENVENU';
  }
  25% {
    content: 'BIENVENIDO';
  }
  30% {
    content: 'BEM-VINDO';
  }
  35% {
    content: 'BENVENUTO';
  }
  40% {
    content: 'ДОБРО ПОЖАЛОВАТЬ';
  }
  45% {
    content: 'VÄLKOMMEN';
  }
  50% {
    content: 'WELKOM';
  }
  55% {
    content: 'مرحباً';
  }
  60% {
    content: 'HOŞ GELDİN';
  }
  65% {
    content: 'WILLKOMMEN';
  }
  70% {
    content: 'VELKOMMEN';
  }
  75% {
    content: 'ΚΑΛΩΣ ΗΡΘΑΤΕ';
  }
  80% {
    content: 'WELCOME';
  }
}
.welcome {
  animation: change-text 6s;
}*/

.input {
  width: 500px;
  height: 30px;
  margin: 50px 0;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .input {
    width: 100%;
  }
}
